body{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: orangered;
}
main{
    background-color: orange;
    display: flex;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.substance{
    margin: 20%;
}